<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8">
<title>Inicio</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<body>

<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<br>
<br>

<div class="container">
    <h1>Canchas de fútbol</h1>

    <div class="row row-cols-2 row-cols-md-3 g-4">
        <div th:each="cancha: ${canchas}" class="col">
            <article class="card h-100">
                <!-- <a href="#" th:href="@{/cancha/{cancha.id}(id={cancha.id})}"></a> -->
                <main class="card-body">
                    <h1 class="card-text" th:text="${cancha.nombre}"></h1> 
                    <h3 class="text-body-secondary">Precio: <span th:text="${cancha.precio}">0.0</span></h3>
                </main>
                <footer class="card-footer">
                    <a class="btn btn-primary mb-2"  th:href="@{/reservar(canchaId=${cancha.id}, horario=${cancha.horario1})}" th:text="'Reservar para: ' + ${cancha.horario1}"></a>
                    <a class="btn btn-primary mb-2" th:href="@{/reservar(canchaId=${cancha.id}, horario=${cancha.horario2})}" th:text="'Reservar para: ' + ${cancha.horario2}"></a>
                    <a class="btn btn-primary mb-2" th:href="@{/reservar(canchaId=${cancha.id}, horario=${cancha.horario3})}" th:text="'Reservar para: ' + ${cancha.horario3}"></a>
                </footer>
            </article>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
    window.sendJSON = async function (url, body, method) {
        return fetch(url, {
            method: method ?? 'post',
            headers: {
                'content-type': 'application/json',
                accept: 'application/json',
            },
            body: body && JSON.stringify(body),
        }).then((v) => v.json());
    }
</script>
</body>
</html>
